h1{
    color:green;
}
#home-into{
    text-align:center;
    border: 3pt;
    border-color:blueviolet;
    border-style:solid;
}
#p2{
    color:orange;
}
#home-into:hover{    
    background-color:mistyrose;
}