h1{
    color:green;
}
#home-into{
    text-align:center;
    border: 3pt;
    border-color:blueviolet;
    border-style:solid;
}
#p2{
    color:orange;
}
#home-into:hover{    
    background-color:mistyrose;
}
#nav{
    text-align:center;
    background-color:plum;
    border: 3pt;
    border-color:black;
    border-style:solid;
    margin-bottom:5px;
}
#nav a{
    text-decoration:none;
    color:black;
    margin:0px 5px;
}
#card{
    text-align:center;
    align-items:center;
    width:430px;
    height:500px;
    border:3px solid black;
    margin:3px auto;
    border-radius: 8px;
}
#card-img{
    border:3px auto black;
    height:250px;
}
#card-name{
    text-align: center;
    -webkit-text-fill-color: rgb(7, 95, 95);

}
#card-gender{
    text-align:center;
    -webkit-text-fill-color: deeppink;
}
#Toggle{
    text-align:center;
    -webkit-text-fill-color: rgb(104, 218, 142);
}
button{
    width:100%;
}