*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Georgia, serif;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.container{
    width:900px;           /* increase width */
    text-align:center;
}

.status-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:50px;
    font-size:22px;
}

h1{
    font-size:60px;
    margin-bottom:20px;
}

.first-name{
    color:#3ea7f2;   
}

.last-name{
    color:#ed4ec8;   /* Pink */
}

p{
    font-size:24px;
    margin-bottom:30px;
    color:#c0c4cc;   /* Grey text */
}

.search-box{
    width: 430px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: 1px solid #999;
    border-radius: 25px;      /* Slightly curved */
    padding: 8px 12px;
    background: white;
}

.search-icon{
    font-size: 20px;
    color: #666;
    margin-right: 10px;
}

.search-box input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    background: transparent;
}
#suggestion-box{
    width: 415px;          /* Same as search-box */
    margin: 0 auto;        /* Center it */
    margin-top: 2px;       /* Small gap below search bar */
    border: 1px solid #999;
    border-radius: 0 0 1px 1px;
    background: white;
    text-align: left;
    padding: 10px 12px;
}